.contactUs {
    text-align: center;
    h2 {
        font-size: em(40);
    }
    p {
        width: 50%;
        margin: 0 auto;
        margin-bottom: em(50);
        @include responsive(tablet) {
            width: 90%;
        }
    }
    .emailContainer {
        background: $darkerWhite;
        padding: em(30) 0;
        h2 {
            margin-top: 0;
        }
    }
    .emailButton {
        background: $titleGreen;
        color: #fff;
        border: 3px solid $titleGreen;
        font-size: em(70);
        text-decoration: none;
        width: span(2 of 12);
        margin: 0 auto;
        padding: em(3) 0;
        border-radius: 10px;
        transition: all ease-in-out 0.5s;
        &:hover {
            background: none;
            color: $titleGreen;
        }
        @include responsive(tablet) {
            width: span(3 of 6);
        }
    }
    .socialNetworks {
        margin: em(40) 0;
        padding: em(20) 0;
        li {
            display: inline-block;
            text-align: justify;
            margin: 0 3vw;
            color: white;
            @include responsive(tablet) {
                margin: 3vh 2vw;
            }
            a {
                font-size: em(50);
                color: inherit;
                i {
                    &::before {
                        height: em(50);
                        width: 100%;
                        padding: em(3) em(4);
                        background: $titleGreen;
                        border: 3px solid $titleGreen;
                        border-radius: 10px;
                        transition: all ease-in-out 0.5s;
                    }
                    &:hover::before {
                        color: $titleGreen;
                        background: none;
                    }
                }
                // i end
            }
            // a end
        }
        // li end
    }
    // socialNetworks end
}

.emailForm {
    @include modalWrapper();
}

.formContainer {
    @include modal();
    top: 60px;
    bottom:0;
    background: $titleGreen;
    color: white;
    width: 100%;
    overflow: scroll;
    @include responsive(tablet) {
        width: 100%;
        top: 50px;
        bottom: 0;
        border-radius: 0;
    }
    h3 {
        text-transform: capitalize;
        margin-top: 0;
    }
    form {
        width: 70%;
        margin: 0 auto;
        margin-top: 20vh;
        @include responsive(tablet) {
            width: 90%;
            margin-top: 30%;
        }
    }
    input {
        border-color: transparent transparent #fff transparent;
        width: 50%;
    }
    input[type="email"] {
        @include span(6 of 12);
        @include responsive(tablet) {
            width: span(6 of 6);
            float: none
        }
    }
    input[type="text"] {
        @include span(6 of 12 last);
        @include responsive(tablet) {
            width: span(6 of 6);
            float: none;
        }
    }
    input[type="submit"] {
        background: #fff;
        border: 2px solid #fff;
        border-radius: 10px;
        color: black;
        padding: em(10);
        transition: all ease-in-out 0.3s;
        &:hover {
            background: none;
            color: #fff;
        }
    }
    textarea {
        width: 100%;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: em(10);
        height: em(100);
    }
    input,
    textarea {
        @include placeholder {
            color: rgba(255, 255, 255, 0.80);
        }
        color: #fff;
        background: none;
        margin: em(10) auto;
        outline: none;
    }
}

.formClose {
    @include modalClose();
    top: 20px;
    &:hover {
        color: black;
        background: #fff;
    }
}

// .formOpeningAnimated {
//     @include slideInUp($delay: 1s);
//     transform: $animationFix;
// }

// .formClosingAnimated {
//     @include slideOutDown();
//     transform: $animationFix;
// }
