@import '_overlay.scss';
.hero {
    text-align: center;
    @include container;
    height: 100vh;
    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
       background: url('../img/heroBackground.jpg'); 
        background-size: cover;
    }
    h1 {
        color: white;
        position: relative;
        text-align: center;
        top: 30%;
        font-weight: 200;
        width: 100%;
        margin: 0 auto;
        @include responsive(tablet) {
            width: 100%;
            font-size: 8vw;
        }
        span {
            text-transform: uppercase;
            font-weight: 700;
            display: block;
        }
    }
}

