// Color schemes
$darkerWhite: #F8F8F8;
$titleGreen: #1B75BB;
$animationFix: translateZ(0);
// Placeholder style mixin
// fade in for on click classes
.fadeIn {
    @include fadeIn($duration: 1s);
    transform: $animationFix;
}

.fadeOut {
    @include fadeOut($duration: 1s);
    transform: $animationFix;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}
