.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fff;
    display: none;
    @include responsive(tablet) {
        position: fixed;
    }
    .navContent {
        bottom: 20%;
        position: absolute;
        width: 100%;
        ul {
            font-size: em(30);
            list-style: none;
            text-align: right;
            margin-right: span(1 of 12 last);
        }
        li {
            opacity: 0.8;
            span {
                font-weight: 600;
            }
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
