.theTeam {
    text-align: center;
    padding-bottom: em(100);
    h2 {
        margin-bottom: em(30);
    }
    .imgContainer {
        position: relative;
        display: inline-block;
        width: span(4 of 12);
        @include responsive(tablet) {
            width: span(6 of 6);
            display: block;
        }
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .teamOverlay {
        opacity: 0;
        background: rgba(0, 0, 0, 0.80);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: opacity ease-out 0.3s;
        color: white;
        .container {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            transform: translateY(-40%);
            h3 {
                font-size: 3vw;
            }
            h4 {
                font-size: 2vw;
            }
            .learnMore {
                font-size: 1.8vw;
            }
            @include responsive(tablet) {
                h3 {
                    font-size: em(35);
                }
                h4 {
                    font-size: em(25);
                }
                .learnMore {
                    font-size: em(20);
                }
            }
        }
        a {
            text-decoration: none;
            font-size: em(30);
            color: inherit;
            transition: all ease-in-out 0.5s;
            &:hover {
                background: #fff;
                color: black;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
}

.bioOverlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.70);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: none;
}

.bioSideBar {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    @include responsive(mobile) {
        width: 100%;
        top: 20%;
    }
    .headShotLeft {
        @include span(4 of 12);
        float: none;
        display: inline-block;
        img {
            @include responsive(tablet) {
                @include span(6 of 6);
                // width: 30%;
            }
        }
    }
    .description {
        @include span(4 of 12 last);
        float: none;
        display: inline-block;
        @include responsive (tablet) {
            @include span(6 of 6);
        }
        h4 {
            @include responsive (mobile) {
                font-size: em(30);
            }
        }
        h5 {
            @include responsive (mobile) {
                font-size: em(25);
            }
        }
        p {
            @include responsive (mobile) {
                font-size: em(20);
            }
        }
    }
}

.closeSideBar {
    @include modalClose();
    background: none;
    color: #CFCFCF;
    left: 5%;
    top: 5vh;
    height: 100px;
    width: 100px;
    line-height: 100px;
    @include responsive(mobile) {
        top: 10vh;
        height: 30px;
        width: 30px;
        line-height: 30px;
        &::after {
            font-size: 30px;
        }
    }
    &::after {
        height: initial;
        width: initial;
        font-size: 100px;
    }
    &:hover {
        background: none;
        color: #fff;
    }
}

.bioSideBarOpen {
    // @include slideInRight( $delay: 0.3s, $duration: 1.5s);
    transform: $animationFix;
}

.bioSideBarClose {
    // @include slideOutRight();
    transform: $animationFix;
}
