@import '_framework.scss';
@import '_mixVarFunc.scss';
@import '_preloader.scss';
@import '_hero.scss';
@import '_about.scss';
@import '_team.scss';
@import '_thingsWeDo.scss';
@import '_contact.scss';
@import '_foot.scss';
body {
    @include container();
}

.subTitle {
    font-weight: 200;
    font-size: em(55);
    @include responsive(tablet) {
        font-size: em(35);
    }
    span {
        font-weight: 600;
        color: $titleGreen;
        text-transform: uppercase;
    }
}

.subSubTitle {
    @extend .subTitle;
    font-size: em(30);
    @include responsive(tablet) {
        font-size: em(25);
    }
}

.button {
    border: 1px solid;
    padding: em(5) em(20);
    background: none;
}

.stopScrolling {
    overflow: hidden;
}

.contentWrapper {
    background: #fff;
    backface-visibility: hidden;
}
