// Import Default Font
@import url('http://fonts.googleapis.com/css?family=Raleway:400,300,200,600,700');
//Font Stack
$DefaultFontStack: 'Raleway',
'Helvetica',
sans-serif;
//Font-Weights
$DefaultFontExtraLight: 200;
$DefaultFontLight: 300;
$DefaultFontNormal: 400;
$DefaultFontSemiBold: 600;
$DefaultFontBold: 700;
// Font Size
// H1
$DefaultHeaderSize: 4.375em;
// H2
$DefaultSubHeaderSize: 3.750em;
// H3
$DefaultSubHeaderSmaller:3.125em;
// H4
$DefaultSubHeaderSmall:2.500em;
// H5
$DefaultSubHeaderSmallest: 2.188em;	
// H6
$DefaultSubHeaderTiny:1.875em; 
// Default Text Size
$DefaultTextSize:1.250em;
//Default Font Styles
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
input,
textarea {
    font-family: $DefaultFontStack;
}
h1{
font-weight: $DefaultFontBold;
font-size: $DefaultHeaderSize;
}
h2,h3,h4,h5,h6{
	font-weight: $DefaultFontSemiBold;
}
h2{
	font-size: $DefaultSubHeaderSize;
}
h3 {
	font-size: $DefaultSubHeaderSmaller;
}
h4 {
	font-size: $DefaultSubHeaderSmall;
}
h5{
	font-size: $DefaultSubHeaderSmallest;
}
h6{
	font-size: $DefaultSubHeaderTiny;
}
p,a,span,li,input,textarea{
	font-size: $DefaultTextSize;
}
p,a,span,li{
	font-weight: $DefaultFontLight;
}
input,textarea{
	font-weight: $DefaultFontExtraLight;
}
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}